.CounterRow{
    padding: 10px 10px;
    margin: 10px 10px;
}
.Name{
    padding-left: 5px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
}
.Count{
    margin: 0px 10px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
}
.Subs{
    background-color: #FF6663;
    border: 0px;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.Subs:hover{
    background-color: #f15754;
}
.Add{
    background-color: #80D142;
    border: 0px;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.Add:hover{
    background-color: #72c334;
}
.Delete{
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    padding:0px;
    margin-right: 10px;
}
.Trash{
    width: 20px;
    height: 20px;
}
.TableRowCenter{
    text-align: center;
}
.TableRowRight{
    text-align: right;
}
.Modal{
    text-transform: uppercase;
    color: #333333;
    padding:15px 40px;
    padding-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
}
.ModalTitle{
    font-weight: 300;
    font-size: 22px;
}
.ModalMsg{
    font-weight: 100;
    font-size: 14px;
}
.ModalNo{
    background-color: #FF6663;
    border: 0px;
    text-transform: uppercase;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    padding: 5px 15px;
    font-weight: 700;
    margin-right: 10px;
}
.ModalNo:hover{
    background-color: #f15754;
    cursor: pointer;
}
.ModalYes{
    background-color: #80D142;
    border: 0px;
    text-transform: uppercase;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    padding: 5px 15px;
    font-weight: 700;
}
.ModalYes:hover{
    background-color: #72c334;
    cursor: pointer;
}
